php_value upload_max_filesize 150M
php_value post_max_size 155M

Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Kalau file atau folder BENERAN ada (global.php, css, js, dll),
    # jangan di-rewrite. Layani apa adanya.
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Kalau kamu TIDAK PAKAI sistem routing, baris ini boleh dikomentari / dihapus
    # RewriteRule ^ index.php [L,QSA]
</IfModule>

DirectoryIndex index.php index.html
