php_value upload_max_filesize 150M
php_value post_max_size 155M

# Jangan tampilkan daftar folder
Options -Indexes

# Jadikan global.php sebagai halaman default
DirectoryIndex global.php aai.php age.php accd.php index.php index.html
